{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>14Bis Capital</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        body {
            background-color: gray;
        }
    </style>
    {% tailwind_css %}
</head>

<body>
    {% include 'includes/navbar.html' %}
    <br><br><br>
    <div class="container mx-auto mt-4">
        {% block content %}
        {% endblock %}
    </div>
    <br><br><br>
    {% include 'includes/footer.html' %}
</body>

</html>