{% extends 'layouts/base-profile.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h5>Edit Info</h5>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-sm-12 mb-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-4">
                        <div class="form-group">
                            <label for="fn">First Name</label>
                            <input type="text" class="form-control" id="fn" placeholder="Enter first name">
                        </div>
                    </div>
                    <div class="col-sm-6 mb-4">
                        <div class="form-group">
                            <label for="ln">Last Name</label>
                            <input type="text" class="form-control" id="ln" placeholder="Enter last name">
                        </div>
                    </div>
                    <div class="col-sm-12 mb-4">
                        <div class="form-group">
                            <label for="add">Address</label>
                            <input type="text" class="form-control" id="add" placeholder="Enter address">
                            <small id="addd" class="form-text text-muted">This is your shipment address</small>
                        </div>
                    </div>
                    <div class="col-sm-12 mb-4">
                        <div class="form-group">
                            <label for="abt">About Info</label>
                            <textarea class="form-control" id="abt" placeholder="Enter bio"></textarea>
                            <small id="abf" class="form-text text-muted">We'll show this on your profile.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-block">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <div class="w-50 p-3">
                        <img src="{/images/profile}" alt="profile image" class="img-fluid rounded-circle">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}