{% extends "layouts/base.html" %}
{% load static %}
{% block content %}

<main>
    <div class="container mx-auto">
        <h1 class="text-3xl font-bold mb-8 dark:text-white text-center">Quem Somos</h1>
        <div class="flex justify-center items-center">
            <div class="max-w-3xl bg-gray-500 shadow-md rounded-lg p-8">
                <p class="text-gray-800 text-lg leading-7 mb-4">
                    A 14 Bis Capital é uma empresa comprometida em compartilhar conhecimento financeiro com o público.
                    Acreditamos que a democratização desse conhecimento é fundamental para permitir que mais pessoas
                    possam tomar decisões informadas sobre seus investimentos e finanças pessoais.
                </p>
                <p class="text-gray-800 text-lg leading-7 mb-4">
                    Nossa missão é fornecer informações de qualidade sobre o mercado financeiro, renda variável, bolsa
                    de valores e muitos outros assuntos relevantes relacionados a investimentos. Acreditamos que, por
                    meio da educação financeira, podemos ajudar nossos seguidores a tomar decisões mais conscientes e
                    seguras em relação a seus investimentos.
                </p>
                <p class="text-gray-800 text-lg leading-7 mb-4">
                    Ao seguir a 14 Bis Capital, você terá acesso a um ambiente rico em informações valiosas e
                    atualizadas sobre o mercado financeiro. Junte-se a nós nessa jornada rumo à liberdade financeira!
                </p>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-3 gap-8 mt-8">
        <div>
            <img src="{% static 'media\equipe\adriano.png' %}" alt="Adriano Becattini"
                class="rounded-full w-32 h-32 mx-auto mb-4">
            <h2 class="text-xl font-bold mb-2 text-yellow-400 text-center">Adriano Becattini - Sócio</h2>
            <p class="text-gray-50 text-center">Possui graduação pela Pontífica Universidade Católica de Minas
                Gerais (1992),
                MBA em finanças pelo IBMEC-RJ (1996), Executive MBA em gestão empresarial pela Fundação Dom Cabral
                (2012) e Mestrado Profissional em Administração pela Pontífica Universidade Católica de Minas Gerais
                (2015).</p>
        </div>
        <div>
            <img src="{% static 'media\equipe\igor.png' %}" alt="Igor Becattini"
                class="rounded-full w-32 h-32 mx-auto mb-4">
            <h2 class="text-xl font-bold mb-2 text-yellow-400 text-center">Igor Becattini - Sócio</h2>
            <p class="text-gray-50 text-center">Possui Bacharelado em Cinema e Audiovisual pela PUC-Minas
                (2017-2020) e MBA em
                Gestão de Empreendimentos Culturais (2021-2022). Opera na bolsa de valores como trader desde 2017.
            </p>
        </div>
        <div>
            <img src="{% static 'media\equipe\victor.png' %}" alt="Victor Becattini"
                class="rounded-full w-32 h-32 mx-auto mb-4">
            <h2 class="text-xl font-bold mb-2 text-yellow-400 text-center">Victor Becattini - Sócio</h2>
            <p class="text-gray-50 text-center">Empresário e sócio-diretor da 14Bis Capital. Opera na bolsa de
                valores como
                trader desde 2017.</p>
        </div>
    </div>
    </div>

</main>

{% endblock content %}