{% load static tailwind_tags %}
<footer class="bg-transparent">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8 text-center">
        <h1 class="text-white" style="font-size: 2em;">Siga-nos nas redes sociais</h1>
        <br><br>
        <div>
            <div class="mb-6 md:mb-0 flex justify-center items-center">
                <ul style="display: flex; list-style: none;">
                    <li style="margin-right: 20px; width: 40px; height: 40px;">
                        <a href="https://youtube.com/@14biscapital" target="_blank" rel="noopener">
                            <img src="{% static 'media/logotipo/youtube.png' %}" alt="YouTube">
                        </a>
                    </li>
                    <li style="margin-right: 20px; width: 40px; height: 40px;">
                        <a href="https://instagram.com/14biscapital" target="_blank" rel="noopener">
                            <img src="{% static 'media/logotipo/instagram.png' %}" alt="Instagram">
                        </a>
                    </li>
                    <li style="margin-right: 20px; width: 40px; height: 40px;">
                        <a href="https://www.facebook.com/people/14Bis-Capital/100087339244487/?mibextid=ZbWKwL"
                            target="_blank" rel="noopener">
                            <img src="{% static 'media/logotipo/facebook.png' %}" alt="Facebook">
                        </a>
                    </li>
                    <li style="margin-right: 20px; width: 40px; height: 40px;">
                        <a href="https://linkedin.com/company/14bis-capital" target="_blank" rel="noopener">
                            <img src="{% static 'media/logotipo/linkedin.png' %}" alt="LinkedIn">
                        </a>
                    </li>
                    <li style="margin-right: 20px; width: 40px; height: 40px;">
                        <a href="https://www.tiktok.com/@14biscapital" target="_blank" rel="noopener">
                            <img src="{% static 'media/logotipo/tiktok.png' %}" alt="TikTok">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <br><br>
        <p class="mb-6 text-sm text-white">
            &copy; 2023 - 14 Bis Capital. Todos os direitos reservados.</p>
    </div>
</footer>